Makefile.in
aclocal.m4
configure
autom4te.cache
autotools
config.*
libtool
Makefile
xbmc-addon-vuplus-*.tar.gz
pvr.vuplus-*.zip
*.swp
addons/pvr.vuplus/XBMC_vuplus.pvr
addons/pvr.vuplus/addon.xml
addons/pvr.vuplus/changelog.txt
